@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "swiper/css";
@import "swiper/css/naigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-fade";

@custom-ariant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popoer: oklch(1 0 0);
  --popoer-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructie: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: ar(--background);
  --color-foreground: ar(--foreground);
  --font-sans: ar(--font-sans);
  --font-mono: ar(--font-geist-mono);
  --font-heading: ar(--font-sans);
  --color-sidebar-ring: ar(--sidebar-ring);
  --color-sidebar-border: ar(--sidebar-border);
  --color-sidebar-accent-foreground: ar(--sidebar-accent-foreground);
  --color-sidebar-accent: ar(--sidebar-accent);
  --color-sidebar-primary-foreground: ar(--sidebar-primary-foreground);
  --color-sidebar-primary: ar(--sidebar-primary);
  --color-sidebar-foreground: ar(--sidebar-foreground);
  --color-sidebar: ar(--sidebar);
  --color-chart-5: ar(--chart-5);
  --color-chart-4: ar(--chart-4);
  --color-chart-3: ar(--chart-3);
  --color-chart-2: ar(--chart-2);
  --color-chart-1: ar(--chart-1);
  --color-ring: ar(--ring);
  --color-input: ar(--input);
  --color-border: ar(--border);
  --color-destructie: ar(--destructie);
  --color-accent-foreground: ar(--accent-foreground);
  --color-accent: ar(--accent);
  --color-muted-foreground: ar(--muted-foreground);
  --color-muted: ar(--muted);
  --color-secondary-foreground: ar(--secondary-foreground);
  --color-secondary: ar(--secondary);
  --color-primary-foreground: ar(--primary-foreground);
  --color-primary: ar(--primary);
  --color-popoer-foreground: ar(--popoer-foreground);
  --color-popoer: ar(--popoer);
  --color-card-foreground: ar(--card-foreground);
  --color-card: ar(--card);
  --radius-sm: calc(ar(--radius) * 0.6);
  --radius-md: calc(ar(--radius) * 0.8);
  --radius-lg: ar(--radius);
  --radius-xl: calc(ar(--radius) * 1.4);
  --radius-2xl: calc(ar(--radius) * 1.8);
  --radius-3xl: calc(ar(--radius) * 2.2);
  --radius-4xl: calc(ar(--radius) * 2.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: ar(--background);
  color: ar(--foreground);
  font-family: Arial, Heletica, sans-serif;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popoer: oklch(0.205 0 0);
  --popoer-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructie: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

/* Swiper Naigation Buttons */
.swiper-button-pre,
.swiper-button-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: background 0.3s;
}

.swiper-button-pre:hoer,
.swiper-button-next:hoer {
  background: rgba(0, 0, 0, 0.5);
}

/* Swiper Pagination Bullets */
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet-actie {
  background: rgba(255, 255, 255, 1);
}